 @import url('https://fonts.cdnfonts.com/css/noto-nastaliq-urdu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Noto Nastaliq Urdu', sans-serif;
}
body {
    /* background-color: #4F3FD7; */
    /* border: 5px solid red; */
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
    box-shadow: 1px 1px 0px black;
    /* transition: background 0.3s ease; */
    /* background: transparent; */
    background-color: white;
}
.nav_logo{
     width: 120px;
}
.navbar {
    display: flex !important;
    justify-content: space-around !important;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.logo-box-combo {
    margin-right: 220px;
    justify-content: center;
    align-items: center;
}

/* ==Media query for logo-box-combo== */

@media (max-width : 1341px) {
    .logo-box-combo {
        margin-right: 180px;
    }
}
@media (max-width : 1260px) {
    .logo-box-combo {
        margin-right: 110px;
    }
}
@media (max-width : 1220px) {
    .logo-box-combo {
        margin-right: 80px;
    }
}
@media (max-width : 1171px) {
    .logo-box-combo {
        margin-right: 40px;
    }
    .navbar-nav{
        gap: 1em;
    }
}
@media (max-width : 1115px) {
    .logo-box-combo {
        margin-right: 38px;
    }
    .navbar{
        width: 95%;
    }
}
@media (max-width : 1040px) {
    .logo-box-combo {
        margin-right: 12px;
    }
   .navbar {
      width: 98%;
   }
   .navbar-nav {
    gap: 1em;
   }
}
@media (max-width : 460px) {
    .mavbar .per-bus .personal  {
        font-size: 80px;
    }
    .nav_logo {
        width: 80px;
    } 
    .navbar {
        width: 100%;
    }
    .logo-box-combo {
        gap: 0.2em;
    }
}
@media (max-width:400px) {
    .per-bus {
         display: none;
    }
}
.per-bus{
    display: flex;
    background-color: #e3dfdf;
    height: 40px;
    width: 160px;
    border-radius: 20px;
    align-items: center;
    gap: 0.4em;
    /* justify-content: space-around; */
    justify-content: center;
    /* padding-bottom: 10px; */
}
.per-bus div a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.personal {
    background-color: black;
    height: 30px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    width: 80px;
    padding-bottom: 10px;
    /* text-align: center; */
}
.personal a {
    color: white;
}
.business {
    height: 30px;
     /* display: grid; */
    place-items: center;
    
}
.business a {
    color: black;
}
@media (max-width:385px) {
    .per-bus {
        width: 120px;
        gap: .2;
    }
    .per-bus div a {
        font-size: 10px;
    }
    .logo-box-combo {
        margin-right: 0;
    }
    .personal{
        /* /* display: flex; */
        justify-content: center; */
        align-items: center;
        padding: 4;
        height: auto;
        padding-top: 4px;
    }
    .business {
        display: grid;
        place-items: center;
        /* background-color: red; */
        height: auto;
    }
    .per-bus {
        justify-content: center;
        height: auto;
        padding: 4px;
    }
}
@media (max-width:345px) {
    .per-bus {
        width: 90px;
    }
    .per-bus div a {
        font-size: 7.4px;
    }
    .logo-box-combo{
        margin-right: 0;
        /* display: none; */
    }
    .navbar {
        width: 100%;
    }
}

/* ===Nav list=== */

.navbar-nav li a {
    color: #24201E;
    font-size: 14px;
    font-weight: 600;
}
.navbar-nav li a:hover {
    color: #24201E;
}
.navbar-nav {
    display: flex;
    gap: 4em;
}
.product {
    position: relative;
}
.product-list {
    position: absolute;
    background-color: #F9F9F9;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    /* buttom: 140px; */
    display: none;
    width: 400px;
    z-index: 1000;
}
.product-list li {
    display:;
}
.product-list li a {
    color: black;
    text-decoration: none;
    display: flex;
    gap: 1em;
    padding: 4px 10px;
    align-items: center;
}
.product-list li a p {
    font-size: 14px;
    color: #7C7978;;
}
.product-list li a h6 {
    font-size: 14px;
    color: #080615;;
}
.product-list li a:hover {
     background-color: #f0eeee;
     border-radius: 10px;
}
.product-list .fa-regular {
    color: #4F3FD7;
    font-size: 18px;
    /* padding: 20px 40px 10px; */
    background-color:  #e9e9f1;
}
.product-list .fa-solid {
    color: #4F3FD7;
    font-size: 18px;
}
.product:hover .product-list {
    display: block;
}

/* ===Sign up=== */
.sign-up {
    justify-content: center;
    align-items: center;
}
.login {
    background-color: transparent;
    border: solid thin #4F3FD7;
    border-radius: 16px;
    /* padding: 6px 12px; */
    padding: 6px 16px 10px;
    display: grid;
    place-items: center;
}
.sign-up a {
    color: #4F3FD7;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;  
}
.create-account {
    background-color: #4F3FD7;
    padding: 1px 20px 14px ;
    border-radius: 12px;
    border: none;
}
.create-account a {
    color:#fff;
}
/* ===SECTION ONE=== */
.sect-one {
    position: relative;
    top: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 10em;
}
.part1 {
    /* border: 2px solid black; */
    width: 40%;
}
.part2  {
    width: 60%;
    /* border: 2px solid black; */
}
.hero-img {
    width: 600px;
}
.part1 h1 {
    font-size: 82px;
    margin-bottom: 30px;
}
.hero-button {
    padding: 10px;
    border-radius: 10px;
}
.create-acc-two {
     color: white;
     padding: 4px 8px 12px;
     background-color: #4F3FD7;
     border: none;
     font-weight: 600;
}
.download {
    padding: 6px;
    background-color: #CAC5F3;
    position: relative;
    font-weight: 600;
    border: none;
}
.hero-button .download:hover .qr-scan-box {
    display: block;
}
.download-img {
    width: 40px;
    color: white;
}

.download:hover .download-img{
    color: black;
}
.hero-bt-group {
    display: flex;
    gap: 1em;
    width: 80%;
}
/* === MEDIA QUERY=== */
@media (max-width: 1180px) {
    .part1 h1 {
        font-size: 70px;
    }
    
}
@media (max-width:1146px) {
    .hero-img {
        width: 500px;
    }
    .part1 {
        width: 50%;
    }
}
@media (max-width: 1090px) {
    .sect-one {
        flex-direction: column;
        gap: 3em;
        top: 20vh;
    }
    .part1 {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .part1 h1 {
        font-size: 70px;
    }
    .part2 {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .hero-bt-group {
        margin: auto;
    }
}
@media (max-width:770px) {
    .hero-bt-group {
        width: 90%;
    }
}
@media (max-width:680px) {
    .hero-img {
        width: 500px;
    }
}
@media (max-width:581px) {
    .hero-bt-group {
        flex-direction: column;
    }
}
@media (max-width:670px) {
    .part1 h1 {
        font-size: 50px;
    }
    .hero-img {
        width: 400px;
    }
}
@media (max-width:481px) {
    .part1 h1 {
        font-size: 40px;
    }
    .hero-img {
        width: 300px;
    }
}
@media (max-width: 405px) {
    .part1 h1 {
        font-size: 30px;
    }
}
@media (max-width :350px) {
    .hero-img {
        width: 200px;
    }
}
@media (max-width:555px) {
    .part1 {
        width: 100%;
        margin: auto;
    }
    .part2 {
         width: 100%;
        margin: auto;
    }
}

/* ===ELIGIBILITY=== */
.eligibility {
    position: relative;
    top: 26vh;
}
.eligibility h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 26px;
}
.eli-p {
    width:55%;
    text-align: center;
    margin: auto;
    margin-bottom: 4%;
}
.eligibility-box {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.6%;
}
.eli-boxes {
    width: 28%;
    /* border: 2px solid; */
    padding: 0 2%;
}
.eli-boxes h5 {
    color: #4F3FD7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.eli-boxes p {
    font-size: 14px;
    text-align: center;
}
.eli-icon {
    width: 18% ;
    color:#4F3FD7 ;
    margin: auto;
    padding: 4%;
    border: 2px solid;
    background-color: #EDECFB;
    border-radius: 10px;
    border: none;
    /* border: 4px solid red; */
}
.eli-icon-box {
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    /* padding: 10% ; */
}
@media (max-width:1163px) {
    .eli-p {
        width: 80%;
    }
}
@media (max-width:770px) {
    .eligibility-box{
        margin: auto;
        flex-direction: column;
    }
    .eli-boxes {
        width: 66%;
        margin: auto;
    }
    .eligibility p {
        /* width: 80%; */
        font-size: 12px;
    }
}
@media (max-width:420px) {
    .eli-boxes {
        width: 84%;
        /* border: 2px solid red; */
    }
}
/* ===SECTION TWO=== */
.sect-two {
     position: relative;
     background-color: #F7F7FF;
     top: 30vh;
     padding: 5% 0%;
}
.sect-two h2 {
    margin-bottom: 80px;
    text-align: center;
    font-weight: 600;
    font-size: 44px;
}
.sect-two-box {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 2em;
}
.steps {
    width: 33%;
    background-color: #fff;
    padding: 2%;
    border-radius: 20px;
}
.steps h6 {
    color: #240756;
    font-weight: 600;
    font-size: 12.88px;
}
.steps h3 {
    color: #4F3FD7;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4%;
}
.steps p {
    color: #240756;
    font-size: 14px;
    width: 80%;
}
.steps img {
    width: 100%;
}
@media (max-width:805px) {
    .sect-two-box {
        flex-direction: column;
    }
    .steps {
        width: 100%;
    }
    .steps p {
        width: 40%;
    }
}
@media (max-width :685px) {
    .steps p {
        width: 80%;
    }
}
/* ===SECTION SIX=== */
 .sect-six {
    position: relative;
    top:48vh;
    /* border: 2px solid blue; */
    width: 90%;
    margin: auto;
    display: flex;
    /* gap: 5%; */
    justify-content: space-between;
 }
 .faq-head {
    width: 28%;
    /* border: 2px solid black; */
    position: sticky;
 }
 .faq-head h5 {
    font-size: 32px;
    font-weight: 600;
    /* position: fixed; */
 }
 .accordion {
    width: 58%;
    /* border: 2px solid green; */
 }
 .accordion-item h2 button {
     font-weight: 600;
     border: none;
 }
 .accordion-body p {
    font-size: 16px;
    width: 86%;
 }
 /* ===MEDIA QUERY=== */
 @media (max-width: 991px) {
    .sect-six {
        flex-direction: column;
    }
    .faq-head {
        width: 100%;
        margin-bottom: 20px;
    }
    .accordion {
        width: 100%;
    }
    .accordion-body p {
        width: 94%;
    }
 }
 @media (max-width: 767px) {
    .faq-head h5 {
        font-size: 18px;
    }
    .accordion-item h2 button {
        font-size: 12.88px;
    }
    .accordion-body p {
        font-size: 12.4px;
        width: 96%;
    }
 }

 /* ===FOOTER=== */
 footer {
    background-image: url(../images/imgi_66_67d98a1c957421a46106e674_footer-pattern.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-position-x:center;
    /* background-size: cover; */
    position: relative;
    top: 84vh;
    background-color: #080615;
    padding-top: 6%;
    padding-bottom: 10%;
 }
 .footer-box-one {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
 }
 .logo-box {
     width: 20%;
 }
 .logo-box p {
     color: #fff;
     font-size: 12px;
 } 
 .footer-icon {
    width: 8%;
    margin-right: 4%;
    color: white;
 }
 .footer-logo {
    width: 70%;
    color: white;
    margin-bottom: 20px;
 }
 .link-box {
    display: flex;
    width: 50%;
 }
 .footer-link a {
    color: #fff;
    text-decoration: none;
 }
 .footer-link li {
    margin-bottom: .6em;
    font-size: 14px;
    font-weight: 600;
    color: #A1A09F;
 }
 .footer-link a button {
    font-size: 10px;
    background-color: #E6FF00;
    border: none;
    border-radius: 10px;
    padding: 4px;
 }
 /* ===MEDIA QUERY=== */
 @media (max-width: 992px) {
    .footer-box-one {
        flex-direction: column;
        width: 90%;
    }
    .logo-box {
        width: 90%;
        margin-bottom: 6%;
    }
    .footer-logo {
        width: 30%;
    }
    .footer-icon {
        width: 2.44%;
        margin-right: 2%;
    }
    .link-box {
        width: 90%;
    }
 }
 @media (max-width:430px) {
    .link-box {
        flex-wrap: wrap;
    } 
    .footer-logo {
        width: 50%;
    }
    .logo-box p {
        margin-top: 1%;
    }.footer-icon {
        width: 4.6%;
    }
 }
 @media (max-width:356px) {
   .link-box {
       width: 100%;
       gap: 0;
   } 
   .footer-box-one {
    width: 98%;
    justify-content: center;
   }
 }

 .footer-box-two {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 14px;
 }
 .footer-box-two p {
    color: #7C7978;
    font-size: 14px;
 }
 .terms a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
 }
 .terms {
    display: flex;
    gap: 1em;
 }
 hr {
    color: #fff;
    width: 90%;
    margin: auto;
 }
 footer p {
    color: #fff;
    width: 90%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
 }
@media (max-width:767px) {
    .footer-box-two {
        flex-direction: column-reverse;
        gap: 1em;
        justify-content: center;
    }
    .footer-box-two p {
        margin: 0;
    }
}